@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@source "..";

@theme {
  --font-sans: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-libre: 'Libre Franklin', sans-serif;
  --spacing-25: 6.25rem;
}

/* Custom max-width breakpoints */
@custom-variant w1601 (@media (width <=1601px));
@custom-variant w1536 (@media (width <=1536px));
@custom-variant w1470 (@media (width <=1470px));
@custom-variant w1367 (@media (width <=1367px));
@custom-variant w1281 (@media (width <=1281px));
@custom-variant w1101 (@media (width <=1101px));
@custom-variant w1025 (@media (width <=1025px));
@custom-variant w992 (@media (width <=992px));
@custom-variant w769 (@media (width <=769px));
@custom-variant w501 (@media (width <=501px));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

p {
  font-family: var(--font-sans);
}

.common-para {
  font-size: 17px;
}